.HomepageBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
.HomepageCard {
  background-color: rgba(201, 199, 199, 0.995);
  width: 33%;
  height: 20%;
  position: relative;
  border-radius: 3%;
  left: 65%;
  top: 75%;
  font-size: large;
}

.ButtonCheckHere {
  position: relative;
  bottom: 5%;
}
